

/*
 * -lightBlue: #5cd9ff
 * -darkBlue: #006699
 * -darkDarkBlue:  #304f6b
 * -green: #15db22
*/
#title-text {
	-fx-font-size: 24px;
}

.stocker-button {
    -fx-background-color: #3fd;
    -fx-border-color: #15db22;
    -fx-border-radius: 5px;
    -fx-padding: 3 6 6 6;
}

/*stock panes at the bottom*/
.left-stock-pane {
	-fx-background-color: #5cd9ff;
	-fx-border-color: #444;
	-fx-border-size: 2px;
	-fx-alignment: center;
}
.left-stock-text {
	-fx-fill: #000;
}
.right-stock-pane {
	-fx-background-color: #304f6b;
	-fx-border-color: #444;
	-fx-border-size: 2px;
	-fx-alignment: center;
}
.right-stock-text {
	-fx-fill: #FFF;
}


/* List View Style Left */
.leftList .list-cell:even {
	-fx-background-color: #66eeff;
	-fx-text-fill: black;
}
.leftList .list-cell:odd {
	-fx-background-color: #5cd9ff;
	-fx-text-fill: black;
}

/* List View Style Right */
.rightList .list-cell:even {
	-fx-background-color: #445577;
	-fx-text-fill: white;
}
.rightList .list-cell:odd {
	-fx-background-color: #304f6b;
	-fx-text-fill: white;
}

/* Chart Style */
.default-color0.chart-series-line {
	-fx-stroke: #5cd9ff;	
}
.default-color0.chart-legend-item-symbol {
	-fx-background-color: #5cd9ff;
}

.default-color1.chart-legend-item-symbol {
	-fx-background-color: #304f6b;
}
.default-color1.chart-series-line {
	-fx-stroke: #304f6b;
}